body {
    padding-bottom: 126px;
}
.cell {
    float:left;
    cursor : default ;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    text-align: center;
    background: url(../images/tiles.jpg) -80px 0 no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.highlighted {
    border-color: red;
}
.paused .cell {
    background: darkgray;
}
.paused .cell:before {
    content: '';
}
.flagged {
    background-position: -20px 0;
}
.empty {
    background-position: 0 0;
}
.mine {
    background-position: -40px 0;
}
.cell.wrong-mine {
    background-position: -100px 0;
}
.cell.stepped-mine {
    background-position: -60px 0;
}
.value-1:before {
    content: '1';
    color: blue;
}
.value-2:before {
    content: '2';
    color: green;
}
.value-3:before {
    content: '3';
    color: red;
}
.value-4:before {
    content: '4';
    color: darkblue;
}
.value-5:before {
    content: '5';
    color: darkred;
}
.value-6:before {
    content: '6';
    color: teal;
}
.value-7:before {
    content: '7';
    color: purple
}
.value-8:before {
    content: '8';
    color: black;
}
.value-9:before {
    content: '9';
    color: brown;
}
.value-10:before {
    content: '10';
    color: blue;
}
.value-11:before {
    content: '11';
    color: green;
}
.value-12:before {
    content: '12';
    color: red;
}
.value-13:before {
    content: '13';
    color: darkblue;
}
.value-14:before {
    content: '14';
    color: darkred;
}
.value-15:before {
    content: '15';
    color: teal;
}
.value-16:before {
    content: '16';
    color: purple;
}
.value-17:before {
    content: '17';
    color: black;
}
.value-18:before {
    content: '18';
    color: brown;
}
.value-19:before {
    content: '19';
    color: blue;
}
.value-20:before {
    content: '20';
    color: green;
}
.value-21:before {
    content: '21';
    color: red;
}
.value-22:before {
    content: '23';
    color: darkblue;
}
.value-23:before {
    content: '23';
    color: darkred;
}
.value-24:before {
    content: '24';
    color: teal;
}
.value-25:before {
    content: '25';
    color: purple;
}
.value-26:before {
    content: '26';
    color: black;
}

.layer {
    margin: 50px auto;
    width: 200px;
    height: 200px;
    -webkit-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
}
#board {
    margin-top: 5em;
}

#container:after,
#flags:after,
#board:after,
.layer:after {
    content: '';
    display: table;
    clear: both;
}